<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorinterval="30" status="info" strict="true">
    <Properties>
        <Property name="fileName">logs/test_log.log</Property>
        <Property name="filePattern">logs/%d{dd-MM-yyyy HH-mm}.log.gz</Property>
        <Property name="splitFileName">logs/$${ctx:startDateTime}/$${ctx:featureId}/$${ctx:testId}.log</Property>
        <Property name="logLineStart">%d{yyyy-MM-dd HH:mm:ss.SSS} %5p</Property>
        <Property name="logLineEnd">%maxLen{%m%notEmpty{ =>%ex{short}}}{1400}%n</Property>
        <Property name="logPatternConsole">${logLineStart} [%C{10}] : ${logLineEnd}</Property>
        <Property name="logPatternConsoleSplit">${logLineStart} : ${logLineEnd}</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${logPatternConsole}"/>
        </Console>
        <RollingRandomAccessFile name="File" fileName="${fileName}"
                                 filePattern="${filePattern}">
            <PatternLayout charset="UTF-8" pattern="${logPatternConsole}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingRandomAccessFile>
        <Routing name="splitAppender">
            <Routes pattern="$${ctx:testId}">
                <Route>
                    <File name="splitAppender-${ctx:testId}" fileName="${splitFileName}">
                        <PatternLayout charset="UTF-8" pattern="${logPatternConsoleSplit}"/>
                    </File>
                </Route>
            </Routes>
        </Routing>
        <Async name="Async">
            <AppenderRef ref="splitAppender" level="info" />
        </Async>
    </Appenders>
    <Loggers>
        <Root level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
        <Logger name="ru" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="Async"/>
        </Logger>
    </Loggers>
</Configuration>